<!DOCTYPE html>
<html lang="en">

<head>
  <title>Toolbox | LuSkywalker</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5, user-scalable=yes" />
  <meta name="description"
    content="Toolbox by LuSkywalker - A collection of useful web-based tools for developers, designers, and tech enthusiasts. Explore our range of utilities including converters, generators, and analyzers to simplify your workflow and enhance productivity.">
  <meta name="keywords" content="ASCII converter, toolbox">
  <meta name="theme-color" content="#0b0809" />

  <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png?v=4">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png?v=4">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png?v=4">
  <link rel="manifest" href="/assets/favicons/site.webmanifest">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Intel+One+Mono:ital,wght@0,300..700;1,300..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
    rel="stylesheet">

  <script src="https://kit.fontawesome.com/7205443a15.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

  <script defer src="https://events.vercount.one/js"></script>

  <link rel="stylesheet" href="/styles/main.css?v=2605131456">

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-3TXXFD9KYK"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-3TXXFD9KYK');
  </script>
</head>

<body class="flex flex-col bg-zinc-950 text-white min-h-screen">
  <header class="mt-10">
    <nav class="w-full">
      <div class="max-w-screen-lg flex flex-col justify-between mx-auto p-4 h-16">
        <h1 class="flex justify-center">
          <span
            class="text-4xl font-mono font-bold whitespace-nowrap mb-1 bg-linear-to-r from-rose-300 via-indigo-300 to-sky-300 bg-clip-text text-transparent">
            >_ Toolbox
          </span>
        </h1>
      </div>
    </nav>
  </header>

  <main id="app" class="mt-18 grow">
    <div class="main-inner max-w-screen-lg mx-auto px-3">
      <div class="flex flex-col gap-y-12">
        <div v-for="link in links" class="links-group">
          <h1 class="flex gap-3 text-2xl font-bold mb-5 text-center text-zinc-200/75">
            <span
              class="bg-gradient-to-r from-zinc-200/20 from-50% to-transparent to-0% bg-center bg-size-[12px_1.5px] bg-repeat-x grow"></span>
            <span>{{ link.title }}</span>
            <span
              class="bg-gradient-to-r from-zinc-200/20 from-50% to-transparent to-0% bg-center bg-size-[12px_1.5px] bg-repeat-x grow"></span>
          </h1>
          <div class="grid sm:grid-cols-3 grid-cols-1 gap-4">
            <button type="button" v-for="item in link.groups" @click="gotoLink(item.url)"
              :class="link.border + ' ' + link.background + ' ' + link.shadow + (item.url === '' ? ' disabled' : '')"
              class="relative group rounded-md rounded-xl border border-white/10 bg-zinc-900/50 opacity-50 not-[.disabled]:opacity-100 hover:not-[.disabled]:shadow-[0_0_20px] shadow-none transition-colors duration-200 cursor-not-allowed not-[.disabled]:cursor-pointer">
              <div class="p-4 text-start h-full flex flex-col place-items-start">
                <h2 class="text-lg font-bold mb-2" :class="link.text">
                  <span class="font-mono text-zinc-400">>_ </span>
                  {{ item.title }}
                </h2>
                <p class="text-sm text-zinc-400 font-light">{{ item.description }}</p>
              </div>
              <div v-if="isNew(item.update)" class="new-indicator absolute -top-1 -right-1">
                <span class="relative flex size-3">
                  <span class="absolute inline-flex h-full w-full animate-ping rounded-full"
                    :class="link.indictor[1]"></span>
                  <span class="relative inline-flex size-3 rounded-full" :class="link.indictor[0]"></span>
                </span>
              </div>
            </button>
          </div>
        </div>
      </div>
    </div>
  </main>

  <footer id="footer" class="mt-8 py-4">
    <div class="max-w-screen-lg mx-auto px-3 sm:p-6 xl:p-0" id="footer-inner">
      <div class="grid grid-cols-1 gap-6">
        <div class="foot-splitter w-[60%] sm:w-72 mx-auto">
          <div class="flex justify-between text-2xl text-zinc-500/50">
            <span class="font-mono">*</span>
            <span class="font-mono">*</span>
            <span class="font-mono">*</span>
          </div>
        </div>
        <div class="flex flex-wrap justify-center gap-4">
          <a href="https://github.com/luswdev/utils-box" target="_blank"
            class="flex justify-between place-items-center gap-2 font-light px-4 py-3 rounded-xl bg-zinc-900/50 text-zinc-200 border bg-zinc-200/5 border-zinc-100/50 hover:border-zinc-100 hover:bg-zinc-200/10 hover:shadow-[0_0_20px] hover:shadow-zinc-200/10 hover:text-zinc-100 focus:border-zinc-100 focus:bg-zinc-200/10 focus:shadow-[0_0_20px] focus:shadow-zinc-200/10 focus:text-zinc-100 cursor-pointer transition-all">
            <i class="fa-brands fa-github"></i>
            <span class="grow text-center">Leave a Issue</span>
          </a>
          <a href="https://ko-fi.com/luswdev" target="_blank"
            class="flex justify-between place-items-center gap-2 font-light px-4 py-3 rounded-xl text-rose-300 bg-rose-400/5 border border-rose-300/50 hover:border-rose-300 hover:bg-rose-400/10 hover:shadow-[0_0_20px] hover:shadow-rose-400/10 hover:text-zinc-100 focus:border-rose-300 focus:bg-rose-400/10 focus:shadow-[0_0_20px] focus:shadow-rose-400/10 focus:text-zinc-100 cursor-pointer transition-all">
            <i class="fa-regular fa-heart"></i>
            <span class="grow text-center">Sponsor Us</span>
          </a>
          <a href="mailto:info@lusw.dev" target="_blank"
            class="flex justify-between place-items-center gap-2 font-light px-4 py-3 rounded-xl text-sky-300 bg-sky-400/5 border border-sky-300/50 hover:border-sky-300 hover:bg-sky-400/10 hover:shadow-[0_0_20px] hover:shadow-sky-400/10 hover:text-zinc-100 focus:border-sky-300 focus:bg-sky-400/10 focus:shadow-[0_0_20px] focus:shadow-sky-400/10 focus:text-zinc-100 cursor-pointer transition-all">
            <i class="fa-regular fa-envelope"></i>
            <span class="grow text-center">Contact Us</span>
          </a>
        </div>
        <span id="vercount_value_page_pv" class="hidden">-1</span>
        <div id="visitor-container" class="font-bold gap-0.5 inline-flex justify-center text-zinc-500/60"></div>
        <div class="text-center text-sm text-zinc-500/60 font-light">
          &copy; {{ new Date().getFullYear() }} LuSkywalker {{ version }}. All rights reserved.
        </div>
      </div>
    </div>
  </footer>

  <script src="/scripts/visitor.js?v=2605132255"></script>
  <script src="/scripts/links.js?v=2605131734"></script>
  <script src="/scripts/notification.js?v=2605131738"></script>
  <script src="/scripts/main.js?v=2605131932"></script>
</body>

</html>