<!DOCTYPE html>
<html lang="en">

<head>
  <title>ASCII Converter - Toolbox | LuSkywalker</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5, user-scalable=yes" />
  <meta name="description"
    content="ASCII converter tool to convert between ASCII strings and ASCII codes in decimal or hexadecimal format.">
  <meta name="keywords"
    content="ASCII converter, ASCII string, ASCII code, decimal, hexadecimal, text encoding, text decoding, character encoding, character decoding">
  <meta name="theme-color" content="#171717" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Intel+One+Mono:ital,wght@0,300..700;1,300..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
    rel="stylesheet">

  <script src="https://kit.fontawesome.com/7205443a15.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

  <link rel="stylesheet" href="/utils/styles/main.css?v=2605131456">

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-3TXXFD9KYK"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-3TXXFD9KYK');
  </script>
</head>

<body class="flex flex-col bg-zinc-950 text-white min-h-screen leading-none">
  <header class="mt-10">
    <nav class="w-full">
      <div class="max-w-screen-lg flex flex-col justify-between mx-auto p-4 h-16">
        <h1 class="flex justify-center">
          <span
            class="sm:text-4xl text-2xl font-mono font-bold whitespace-nowrap mb-1 bg-linear-to-r from-rose-300 via-indigo-300 to-sky-300 bg-clip-text text-transparent">
            >_ ASCII Converter
          </span>
        </h1>
        <span class="flex justify-end">
          <a href="/utils/"
            class="self-center whitespace-nowrap mb-1 underline text-light hover:text-rose-300 transition-all">
            more tools...
          </a>
        </span>
      </div>
    </nav>
  </header>

  <main id="app" class="mt-18 grow">
    <div class="max-w-screen-lg mx-auto px-3 sm:p-6 xl:p-0" id="main-inner">
      <div class="grid grid-cols-1 gap-4">
        <div class="group rounded-2xl border border-white/10 bg-zinc-900/50 sm:px-7 sm:py-6 px-4 py-5">
          <div class="flex justify-between mb-3">
            <div class="flex items-center gap-3">
              <h2 class="text-lg font-bold">ASCII String</h2>
              <i class="fa-regular fa-copy sm:hidden! group-hover:inline-block! text-zinc-500/50 hover:text-rose-300 transition-all cursor-pointer"
                @click="copy2clipboard(asciiString)"></i>
            </div>
          </div>
          <textarea v-model="asciiString" id="asciiString"
            class="w-full h-56 p-2 bg-zinc-800/50 text-white rounded-md resize-none focus:outline-none focus:ring-2 focus:ring-rose-300 font-mono border border-dashed border-white/5 resize-y"
            placeholder="hello world"></textarea>
        </div>

        <div class="flex gap-4 justify-center text-zinc-500 my-3">
          <button @click="convertToASCII"
            class="flex items-center gap-2 font-bold py-2 px-4 rounded-lg bg-zinc-900/50 border border-white/5 hover:border-rose-300 hover:bg-rose-400/10 hover:shadow-[0_0_20px] hover:shadow-rose-400/10 hover:text-zinc-300 cursor-pointer transition-all">
            <i class="fa-solid fa-angles-down"></i>
            <span class="font-light">Convert to ASCII</span>
          </button>
          <button @click="convertToString"
            class="flex items-center gap-2 font-bold py-2 px-4 rounded-lg bg-zinc-900/50 border border-white/5 hover:border-rose-300 hover:bg-rose-400/10 hover:shadow-[0_0_20px] hover:shadow-rose-400/10 hover:text-zinc-300 cursor-pointer transition-all">
            <i class="fa-solid fa-angles-up"></i>
            <span class="font-light">Convert to String</span>
          </button>
        </div>

        <div class="group rounded-2xl border border-white/10 bg-zinc-900/50 sm:px-7 sm:py-6 px-4 py-5">
          <div class="flex justify-between mb-3">
            <div class="flex items-center gap-3">
              <h2 class="text-lg font-bold">ASCII Code</h2>
              <i class="fa-regular fa-copy sm:hidden! group-hover:inline-block! text-zinc-500/50 hover:text-rose-300 transition-all cursor-pointer"
                @click="copy2clipboard(asciiCode)"></i>
            </div>
            <div class="flex gap-1 bg-zinc-900/80 p-1 rounded-full border border-zinc-800 backdrop-blur-sm">
              <button @click="isHexChange(false)"
                class="px-3 py-1.5 text-xs font-bold rounded-full transition-all text-zinc-500 hover:text-zinc-300 hover:bg-rose-300/30"
                :class="isHex ? '' : ' bg-zinc-700 text-white! '">
                Dec
              </button>
              <button @click="isHexChange(true)"
                class="px-3 py-1.5 text-xs font-bold rounded-full transition-all text-zinc-500 hover:text-zinc-300 hover:bg-rose-300/30"
                :class="isHex ? ' bg-zinc-700 text-white! ' : ''">
                Hex
              </button>
            </div>
          </div>
          <textarea v-model="asciiCode" id="asciiCode"
            class="w-full h-56 p-2 bg-zinc-800/50  text-white rounded-md resize-none focus:outline-none focus:ring-2 focus:ring-rose-300 font-mono border border-dashed border-white/5 resize-y"
            placeholder="68 65 6C 6C 6F 20 77 6F 72 6C 64"></textarea>
          <div class="text-sm text-neutral-500 mt-2 leading-4.5 font-light">
            <i class="fa-solid fa-circle-info text-xs me-1"></i>
            <span>Accepts the following formats:</span>
            <ul class="list-disc list-inside text-neutral-500">
              <li>Space-separated: <span class="font-mono">68 65 6C 6C 6F</span></li>
              <li>Comma-separated: <span class="font-mono">68, 65, 6C, 6C, 6F</span></li>
              <li>Hex with prefix: <span class="font-mono">0x68 0x65 0x6C 0x6C 0x6F</span></li>
              <li>Hex with prefix and comma: <span class="font-mono">0x68, 0x65, 0x6C, 0x6C, 0x6F</span></li>
            </ul>
          </div>
        </div>

        <div class="rounded-2xl border border-white/5 bg-zinc-900/50 px-7 py-6">
          <div class="flex justify-between mb-3">
            <div class="flex gap-3">
              <h2 class="text-lg font-bold">
                <i class="fa-solid fa-circle-info me-2"></i>
                Special Characters
              </h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <footer id="footer" class="mt-8">
    <div class="max-w-screen-lg mx-auto px-3 sm:p-6 xl:p-0" id="footer-inner">
      <div class="grid grid-cols-1 gap-2">
        <div class="foot-splitter w-[60%] sm:w-72 mx-auto pb-4">
          <div class="flex justify-between text-2xl text-neutral-500">
            <span class="font-mono">*</span>
            <span class="font-mono">*</span>
            <span class="font-mono">*</span>
          </div>
        </div>
        <div class="flex flex-wrap justify-center gap-4">
          <a href="https://github.com/luswdev/utils-box" target="_blank"
            class="flex justify-between place-items-center gap-2 font-light p-4 rounded-xl bg-zinc-900/50 text-zinc-200 border bg-zinc-200/5 border-zinc-100/50 hover:border-zinc-100 hover:bg-zinc-200/10 hover:shadow-[0_0_20px] hover:shadow-zinc-200/10 hover:text-zinc-100 cursor-pointer transition-all">
            <i class="fa-brands fa-github"></i>
            <span class="grow text-center">GitHub</span>
          </a>
          <a href="https://ko-fi.com/luswdev" target="_blank"
            class="flex justify-between place-items-center gap-2 font-light p-4 rounded-xl text-rose-300 bg-rose-400/5 border border-rose-300/50 hover:border-rose-300 hover:bg-rose-400/10 hover:shadow-[0_0_20px] hover:shadow-rose-400/10 hover:text-zinc-100 cursor-pointer transition-all">
            <i class="fa-regular fa-heart"></i>
            <span class="grow text-center">Sponsor Us</span>
          </a>
          <a href="mailto:info@lusw.dev" target="_blank"
            class="flex justify-between place-items-center gap-2 font-light p-4 rounded-xl text-sky-300 bg-sky-400/5 border border-sky-300/50 hover:border-sky-300 hover:bg-sky-400/10 hover:shadow-[0_0_20px] hover:shadow-sky-400/10 hover:text-zinc-100 cursor-pointer transition-all">
            <i class="fa-regular fa-envelope"></i>
            <span class="grow text-center">Contact Us</span>
          </a>
        </div>
        <div class="max-w-screen-lg mx-auto text-center py-4 text-sm text-neutral-500 font-light">
          &copy; {{ new Date().getFullYear() }} LuSkywalker {{ version }}. All rights reserved.
        </div>
      </div>
    </div>
  </footer>

  <script src="/utils/scripts/notification.js?v=2605131500"></script>
  <script src="scripts/main.js?v=2605131210"></script>
</body>

</html>